body{
    background: url(coffee.png) no-repeat center center fixed;
    background-size: cover;
}
.hero{
    color: #fff;
    line-height: 1.2em;
    word-spacing: -.05em;
    margin-top: 20%;
    font-size: 70px;
    text-align: center;
    font-family: 'Revalia', cursive;
}
.ima{
height: 100px;
width: 200px;
}
